/* Les indications pour des polices */
@font-face{
    font-family: 'font-TITREh1';
    src: url(assets/fonts/panthera.otf);
}
@font-face{
    font-family: 'font-TITREh2';
    src: url(assets/fonts/beyno-regular.otf);
}
@font-face {
    font-family: 'font-TITREh2ENIGME';
    src: url(assets/fonts/wakanda-forever-regular.ttf);
}
@font-face{
    font-family: 'font-Text_cit_footer';
    src: url(assets/fonts/cantarell-regular.ttf);
}

colgroup {
    --pink : #F2CEF2; 
    --Pink_a: #9E91B7;
    --pink_b: #DF99F2; 
    --white: #FFFF;
    --blue: #3D2DA6;
    --blue_a: #07338C;
    --blue_b: #021740;
    
}
/*Réinitialisation des styles*/
/*Fonds du contenu*/
body {
  background-image: url(assets/Illustrations\ +\ Logo/Allpages/arrière_plan.png); 
  background-repeat: no-repeat;

  }
footer {
    background-image: url(assets/Illustrations\ +\ Logo/Allpages/back_footer.png);
    background-repeat: no-repeat;
  
   }

form{
  background-image: url(assets/Illustrations\ +\ Logo/Accueil/Pantherhome7.png);
  background-repeat: no-repeat;
}

/*POLICE pour le contenu*/
h1{
  font-family: 'font-TITREh1';
  color: #9E91B7;
  font-weight: lighter;
  font-size: 68px;
  line-height: 0px;
}

h2{
  font-family: "font-TITREh2", serif;
  font-weight: lighter;
  font-size: 32px;
  color: #9E91B7;
 }

 p {
  font-family: 'font-Text_cit_footer';
  font-size: 16px;
  color: #FFFF;
 }

 .Citation{
  font-family: 'font-Text_cit_footer';
  font-size: 14px;
  color: #FFFF;
 }

/* Styles pour les animations dans le header */

nav {
  text-indent: 50px;
  margin-right: 50px; 
  float: right;
 }
/* Soulignement des rubriques du menu au survol */
.hover  {
    text-decoration: none;
    color: white;
}

.hoverS {
  text-decoration: underline;
  color: #FFFF;
}
/* Soulignement de la rubrique active */
 .active {
    text-decoration: underline;
    color: #9E91B7 ;
}
li {
  font-family: "font-TITREh2" ;
  padding: 50px;
  display: inline;}

/*Positionnement et style de la présentation*/

  /* Ajouter une marge à droite pour espacer les liens (facultatif) */

  .presentation {
    text-align: left;
    margin: 200px 200px 200px;
    float: left;
  }
  .Personnage img {
    width: 1100px;
    position:absolute; right: 0;
  }
  

 .footer2_1 {
  margin: 25px 125px;
 }


/*Section1 style*/
.section1 {
  position: relative;
  clear: both;
  
}

.section1 .mbj,
.section1 .gal,
.section1 .soeur {
display: inline-block;
margin-right: 300px;
z-index: 30;
}
.section1.mbj{
  position:absolute;
float: left;
}
.articlea {
  background-color:#021740 ;
  padding: 30px 0 40px 50px ;
  position: relative top;
  float: left;

}
.section1 .gal{
  height: 120%;

}
.section1.soeur {
  margin: right 125px;

}



.articleb {
  background-color:#021740 ;
  padding: 20px 20px;
  width: 500px;

}

/*section 2 gauche*/
.gauche , .droite {
  display: inline-block;
}

.gauche{
  margin-left:  175px;
}
.gauche P {
  text-align: justify;
  width: 53%;
}
.droite{
  float: right;
  width: 40%;
}

.info {
  color: #07338C;
}
span{
  font-size: large ;
}
/*Footer*/

.back_footer {
  margin-left: 125px;
}

/*Faire un bouton*/
  .mon-bouton {
    background-color: #4CAF50; /* Couleur de fond */ 
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement intérieur */
    border: none; /* Suppression de la bordure */
    cursor: pointer; /* Curseur de souris en forme de main */
    border-radius: 4px; /* Coins arrondis */
  }
  
  .mon-bouton:hover {
    background-color: #45a049; /* Couleur de fond au survol */
  }


  .paragraphe-degrade {
    background-image: linear-gradient(to right, #ff0000, #00ff00); /* Dégradé de gauche à droite */
    color: white; /* Couleur du texte */
    padding: 10px; /* Espacement intérieur */
  }
  /*Faire un dégradé*/
  .bouton-degrade {
    background-image: linear-gradient(to right, #ff0000, #00ff00); /* Dégradé de gauche à droite */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement intérieur */
    border: none; /* Suppression de la bordure */
    cursor: pointer; /* Curseur de souris en forme de main */
    border-radius: 4px; /* Coins arrondis */
  }
  
  .bouton-degrade:hover {
    background-image: linear-gradient(to right, #00ff00, #ff0000); /* Dégradé de gauche à droite inversé au survol */
  }
/*Les éléments */

/*Responsive*/
@media all (max-width: 1280px)


