/* Les indications pour des polices */
@font-face{
    font-family: 'font-TITREh1';
    src: url(assets/fonts/panthera.otf);
}
@font-face{
    font-family: 'font-TITREh2';
    src: url(assets/fonts/beyno-regular.otf);
}
@font-face {
    font-family: 'font-TITREh2ENIGME';
    src: url(assets/fonts/wakanda-forever-regular.ttf);
}
@font-face{
    font-family: 'font-Text_cit_footer';
    src: url(assets/fonts/cantarell-regular.ttf);
}

colgroup {
    --pink : #F2CEF2; 
    --Pink_a: #9E91B7;
    --pink_b: #DF99F2; 
    --white: #FFFF;
    --blue: #3D2DA6;
    --blue_a: #07338C;
    --blue_b: #021740;
    
}
/*POLICE pour le contenu*/
h1{
  font-family: 'font-TITREh1';
  color: #9E91B7;
  font-weight: lighter;
  font-size: 68px;
  line-height: 0px;
}

h2{
  font-family: "font-TITREh2", serif;
  font-weight: lighter;
  font-size: 32px;
  color: #9E91B7;
 }

 p {
  font-family: 'font-Text_cit_footer';
  font-size: 16px;
  color: #FFFF;
 }

 .Citation{
  font-family: 'font-Text_cit_footer';
  font-size: 14px;
  color: #FFFF;
 }

 li {
  font-family: "font-TITREh2" ;
  color:#FFFF;
  font-weight: 100;
  }
/*Fonds du contenu*/

body {
  background-image: url(assets/IllustrationsLogo/Allpages/arrière_plan.png);
  background-repeat: no-repeat;
} 

/*HEADER STYLES /Styles pour les animations dans le header */
.container {
  width: 85%;
  margin: 0 auto;
}
a {
  padding: 30px;
}
 a.hover{
  text-decoration: none;
  color: #FFFF;
 }
   a.hover:hover { /* Soulignement des rubriques du menu au survol */
  text-decoration: underline;
  color: white;
  }
    
  a.active { /* Soulignement de la rubrique active */
    text-decoration: underline;
    color: #9E91B7 ;
  }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0;
  
}
ul{
  display: flex;
list-style: none;  
}


/*Positionnement et style de la présentation*/
.section1{
  display: flex;
  align-items: center;
}

.section1 img {
  float: left;
}

 
/*Positionnement et style de la section 2 */
.section2{
  display: flex;
  align-items: center;

}

/*Positionnement et style de la section 3 */
.container2 {
  width: 75%;
  margin: 0 auto;
  display:flex;
  margin-top:60px
}

.gauche {
  text-align: justify;
  width: 60%;
  margin-right: 50px;
  padding-right: 100px;
}

.droite {
  width: 40%;
  text-align: center;
}

.droite img {
  z-index: 1;
  float: center;
}

.nom {
  color:#010612;
 }

.btn-group {
  display: flex;
}

.btn-group p {
  margin-left: 10px;
  padding:10px 20px;
  text-align: center;
  background-color: #3D2DA6;
  border-radius: 10%;

}

.droite .contour {
  padding-top: 200px;
  background-color: aliceblue;
  z-index: -1;
}

.info {
  text-align: left;
  color: #021740;
}


/*Faire un bouton*/
  .mon-bouton {
    background-color: #4CAF50; /* Couleur de fond */ 
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement intérieur */
    border: none; /* Suppression de la bordure */
    cursor: pointer; /* Curseur de souris en forme de main */
    border-radius: 4px; /* Coins arrondis */
  }
  
  .mon-bouton:hover {
    background-color: #45a049; /* Couleur de fond au survol */
  }


  .paragraphe-degrade {
    background-image: linear-gradient(to right, #ff0000, #00ff00); /* Dégradé de gauche à droite */
    color: white; /* Couleur du texte */
    padding: 10px; /* Espacement intérieur */
  }
  /*Faire un dégradé*/
  .bouton-degrade {
    background-image: linear-gradient(to right, #ff0000, #00ff00); /* Dégradé de gauche à droite */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement intérieur */
    border: none; /* Suppression de la bordure */
    cursor: pointer; /* Curseur de souris en forme de main */
    border-radius: 4px; /* Coins arrondis */
  }
  
  .bouton-degrade:hover {
    background-image: linear-gradient(to right, #00ff00, #ff0000); /* Dégradé de gauche à droite inversé au survol */
  }
/*Les éléments */


