/* Les indications pour des polices */
@font-face{
    font-family: 'font-TITREh1';
    src: url(assets/fonts/panthera.otf);
}
@font-face{
    font-family: 'font-TITREh2';
    src: url(assets/fonts/beyno-regular.otf);
}
@font-face {
    font-family: 'font-TITREh2ENIGME';
    src: url(assets/fonts/wakanda-forever-regular.ttf);
}
@font-face{
    font-family: 'font-Text_cit_footer';
    src: url(assets/fonts/cantarell-regular.ttf);
}

colgroup {
    --pink : #F2CEF2; 
    --Pink_a: #9E91B7;
    --pink_b: #DF99F2; 
    --white: #FFFF;
    --blue: #3D2DA6;
    --blue_a: #07338C;
    --blue_b: #021740;
    
}
/*Fonds du contenu*/
body {
  background-image: url(assets/Illustrations\ +\ Logo/Allpages/arrière_plan.png);

}
.PersonnageP {
  float: left;
  margin-right: 20px; /* Ajouter une marge à gauche de l'image (facultatif) */
  }
.formulaire{

  background-image: url(assets/Illustrations\ +\ Logo/Accueil/Pantherhome7.png);
  position: relative;
  float: center ;
  margin: auto;
  
}
/*POLICE pour le contenu*/
h2 {
  font-family: 'font-TITREh2';
  color: #9E91B7;
  font-weight: lighter;
  font-size: 68px;
  line-height: 0px;
}

.wakanda{
  font-family: "font-TITREh2ENIGME", serif;
  font-weight: lighter;
  font-size: 32px;
  color: #9E91B7;
 }

 p {
  font-family: 'font-Text_cit_footer';
  font-size: 16px;
  color: #FFFF;
 }
 .lienvp a {
  font-family: 'font-Text_cit_footer';
  font-size: 16px;
  color: #FFFF;
 }

 .Citation{
  font-family: 'font-Text_cit_footer';
  font-size: 14px;
  color: #FFFF;
 }


/*Positionnement*/
.presentation {
  float: center;
  margin-left: 150px;
  width: 600px;
  text-align: left;
}
 li {
  font-family: "font-TITREh2" ;
  float: right;
  display: inline;
  margin-left: 50px;
  margin-right: 50px; /* Ajouter une marge à droite pour espacer les liens (facultatif) */
/*Personnage à Droite*/}








/*Faire un bouton*/
  .mon-bouton {
    background-color: #4CAF50; /* Couleur de fond */ 
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement intérieur */
    border: none; /* Suppression de la bordure */
    cursor: pointer; /* Curseur de souris en forme de main */
    border-radius: 4px; /* Coins arrondis */
  }
  
  .mon-bouton:hover {
    background-color: #45a049; /* Couleur de fond au survol */
  }


  .paragraphe-degrade {
    background-image: linear-gradient(to right, #ff0000, #00ff00); /* Dégradé de gauche à droite */
    color: white; /* Couleur du texte */
    padding: 10px; /* Espacement intérieur */
  }
  /*Faire un dégradé*/
  .bouton-degrade {
    background-image: linear-gradient(to right, #ff0000, #00ff00); /* Dégradé de gauche à droite */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement intérieur */
    border: none; /* Suppression de la bordure */
    cursor: pointer; /* Curseur de souris en forme de main */
    border-radius: 4px; /* Coins arrondis */
  }
  
  .bouton-degrade:hover {
    background-image: linear-gradient(to right, #00ff00, #ff0000); /* Dégradé de gauche à droite inversé au survol */
  }
/*Les éléments HEADER*/




